﻿@font-face {
    font-family: "amiga_topaz_unicode_rusRg";
    src: url(/fonts/amiga-webfont.woff2) format("woff2"),font-size:18px;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:"MisterGiacco-Bold";src:url(/fonts/MisterGiacco-Bold.woff2) format("woff2"),font-size:18px;
}

@font-face {
    font-family:"FutureWorld";src:url(/fonts/FutureWorld.woff2) format("woff2"),url(/fonts/FutureWorld.woff) format('woff');font-size:18px;
}

html {
    scrollbar-color: #fff #060673;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

div::-webkit-scrollbar {
    display: none;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgb(255 255 255 / .05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top,#008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(10px);
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(30px);
}

::placeholder {
    color: #fff;
}

.glitch,.glow {
    color: #dfbfbf;
    position: relative;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 9vw;
    animation: glitch 5s 5s infinite;
}

.glitch::before,.glow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 #f0f;
    background: #000;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse,glitch 5s 5.05s infinite;
}

.glitch::after,.glow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    background: green;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse,glitch 5s 5s infinite;
}

@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    3.3333333333% {
        clip-path: inset(59px 0 35px 0);
    }

    6.6666666667% {
        clip-path: inset(98px 0 3px 0);
    }

    10% {
        clip-path: inset(96px 0 4px 0);
    }

    13.3333333333% {
        clip-path: inset(20px 0 80px 0);
    }

    16.6666666667% {
        clip-path: inset(90px 0 6px 0);
    }

    20% {
        clip-path: inset(42px 0 5px 0);
    }

    23.3333333333% {
        clip-path: inset(27px 0 42px 0);
    }

    26.6666666667% {
        clip-path: inset(44px 0 33px 0);
    }

    30% {
        clip-path: inset(61px 0 18px 0);
    }

    33.3333333333% {
        clip-path: inset(25px 0 23px 0);
    }

    36.6666666667% {
        clip-path: inset(95px 0 6px 0);
    }

    40% {
        clip-path: inset(34px 0 62px 0);
    }

    43.3333333333% {
        clip-path: inset(81px 0 20px 0);
    }

    46.6666666667% {
        clip-path: inset(93px 0 7px 0);
    }

    50% {
        clip-path: inset(32px 0 12px 0);
    }

    53.3333333333% {
        clip-path: inset(63px 0 15px 0);
    }

    56.6666666667% {
        clip-path: inset(68px 0 29px 0);
    }

    60% {
        clip-path: inset(17px 0 62px 0);
    }

    63.3333333333% {
        clip-path: inset(93px 0 6px 0);
    }

    66.6666666667% {
        clip-path: inset(52px 0 8px 0);
    }

    70% {
        clip-path: inset(21px 0 19px 0);
    }

    73.3333333333% {
        clip-path: inset(62px 0 18px 0);
    }

    76.6666666667% {
        clip-path: inset(90px 0 5px 0);
    }

    80% {
        clip-path: inset(20px 0 49px 0);
    }

    83.3333333333% {
        clip-path: inset(50px 0 28px 0);
    }

    86.6666666667% {
        clip-path: inset(78px 0 10px 0);
    }

    90% {
        clip-path: inset(98px 0 3px 0);
    }

    93.3333333333% {
        clip-path: inset(100px 0 1px 0);
    }

    96.6666666667% {
        clip-path: inset(56px 0 14px 0);
    }

    100% {
        clip-path: inset(39px 0 58px 0);
    }
}

@keyframes noise-2 {
    0% {
        clip-path: inset(27px 0 74px 0);
    }

    3.3333333333% {
        clip-path: inset(90px 0 11px 0);
    }

    6.6666666667% {
        clip-path: inset(93px 0 5px 0);
    }

    10% {
        clip-path: inset(63px 0 25px 0);
    }

    13.3333333333% {
        clip-path: inset(49px 0 46px 0);
    }

    16.6666666667% {
        clip-path: inset(92px 0 7px 0);
    }

    20% {
        clip-path: inset(15px 0 18px 0);
    }

    23.3333333333% {
        clip-path: inset(39px 0 61px 0);
    }

    26.6666666667% {
        clip-path: inset(74px 0 10px 0);
    }

    30% {
        clip-path: inset(84px 0 11px 0);
    }

    33.3333333333% {
        clip-path: inset(80px 0 15px 0);
    }

    36.6666666667% {
        clip-path: inset(34px 0 47px 0);
    }

    40% {
        clip-path: inset(74px 0 27px 0);
    }

    43.3333333333% {
        clip-path: inset(33px 0 52px 0);
    }

    46.6666666667% {
        clip-path: inset(23px 0 34px 0);
    }

    50% {
        clip-path: inset(73px 0 14px 0);
    }

    53.3333333333% {
        clip-path: inset(81px 0 3px 0);
    }

    56.6666666667% {
        clip-path: inset(31px 0 64px 0);
    }

    60% {
        clip-path: inset(90px 0 9px 0);
    }

    63.3333333333% {
        clip-path: inset(68px 0 8px 0);
    }

    66.6666666667% {
        clip-path: inset(43px 0 32px 0);
    }

    70% {
        clip-path: inset(53px 0 42px 0);
    }

    73.3333333333% {
        clip-path: inset(1px 0 29px 0);
    }

    76.6666666667% {
        clip-path: inset(28px 0 71px 0);
    }

    80% {
        clip-path: inset(41px 0 59px 0);
    }

    83.3333333333% {
        clip-path: inset(25px 0 39px 0);
    }

    86.6666666667% {
        clip-path: inset(81px 0 17px 0);
    }

    90% {
        clip-path: inset(91px 0 2px 0);
    }

    93.3333333333% {
        clip-path: inset(9px 0 27px 0);
    }

    96.6666666667% {
        clip-path: inset(22px 0 60px 0);
    }

    100% {
        clip-path: inset(36px 0 36px 0);
    }
}

.scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
}

.scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(to bottom,transparent 0%,rgb(255 255 255 / .05) .5%,transparent 1%);
    animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
    from {
        transform: translate(0,0);
    }

    to {
        transform: translate(0,2%);
    }
}

.glow {
    text-shadow: 0 0 1000px #dfbfbf;
    color: #fff0;
    position: absolute;
    top: 0;
}

.subtitle {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 100;
    font-size: .8vw;
    color: rgb(165 141 141 / .4);
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: center;
    position: absolute;
    left: 17%;
    animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

html {
    scroll-behavior: smooth;
}

.demo_line {
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(2deg,red,blue);
    animation: gradientMove 4000ms ease infinite;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 14px;
}

.demo_line_two_stock_links {
    font-family: "MisterGiacco-Bold";
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(2deg,red,blue);
    animation: gradientMove 4000ms ease infinite;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 18px;
}

.demo_line_two_stock_links a {
    margin: 0;
    padding: 0;
    height: 25px;
}

.demo_line_menu {
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(2deg,red,blue);
    animation: gradientMove 4000ms ease infinite;
    display: flex;
    margin-bottom: 0;
    padding-right: 14px;
}

.demo_line_menu_center {
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(2deg,red,blue);
    animation: gradientMove 4000ms ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 14px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.hw_text {
    margin-top: -38px;
    padding: 0;
}

.hw_text2 {
    margin-top: -23px;
    padding: 0;
}

*,*::before,*::after {
    box-sizing: border-box;
}

article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block;
}

:focus::-webkit-input-placeholder {
    color: #fff0;
}

:focus::-moz-placeholder {
    color: #fff0;
}

:focus:-moz-placeholder {
    color: #fff0;
}

:focus:-ms-input-placeholder {
    color: #fff0;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

*,body,::-webkit-scrollbar,a,a:hover,.side-floaters-link,#myBackdrop {
    cursor: url(/img/_cur/cursor.gif),auto;
}

div.img-comp-slider {
    cursor: url(/img/_cur/cursor-horizontal.gif),auto;
}

div#mydivheader {
    cursor: url(/img/_cur/cursor-move.gif),auto;
}

body {
    margin: 0;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.6;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 -1px rgb(0 0 0 / .48);
    color: #fff;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #000000!important;
    animation: fadeInAnimation 0.88s ease-in-out;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#app {
    background: #fff0;
    height: 10vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#wrapper {
    text-align: center;
}

.glitch {
    position: relative;
    color: #fff;
    font-size: 2em;
    letter-spacing: .1em;
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px,450px,56px,0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9,2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(49px,9999px,86px,0);
        transform: skew(0.01deg);
    }

    5% {
        clip: rect(37px,9999px,6px,0);
        transform: skew(0.52deg);
    }

    10% {
        clip: rect(50px,9999px,62px,0);
        transform: skew(0.29deg);
    }

    15% {
        clip: rect(62px,9999px,57px,0);
        transform: skew(0.96deg);
    }

    20% {
        clip: rect(11px,9999px,77px,0);
        transform: skew(0.86deg);
    }

    25% {
        clip: rect(22px,9999px,45px,0);
        transform: skew(0.47deg);
    }

    30% {
        clip: rect(55px,9999px,87px,0);
        transform: skew(0.56deg);
    }

    35% {
        clip: rect(88px,9999px,100px,0);
        transform: skew(0.12deg);
    }

    40% {
        clip: rect(56px,9999px,66px,0);
        transform: skew(0.72deg);
    }

    45% {
        clip: rect(69px,9999px,70px,0);
        transform: skew(0.09deg);
    }

    50% {
        clip: rect(96px,9999px,46px,0);
        transform: skew(0.79deg);
    }

    55% {
        clip: rect(8px,9999px,24px,0);
        transform: skew(0.37deg);
    }

    60% {
        clip: rect(39px,9999px,71px,0);
        transform: skew(0.06deg);
    }

    65% {
        clip: rect(85px,9999px,24px,0);
        transform: skew(0.48deg);
    }

    70% {
        clip: rect(70px,9999px,70px,0);
        transform: skew(0.04deg);
    }

    75% {
        clip: rect(82px,9999px,90px,0);
        transform: skew(0.76deg);
    }

    80% {
        clip: rect(39px,9999px,28px,0);
        transform: skew(0.24deg);
    }

    85% {
        clip: rect(24px,9999px,69px,0);
        transform: skew(0.59deg);
    }

    90% {
        clip: rect(28px,9999px,35px,0);
        transform: skew(0.05deg);
    }

    95% {
        clip: rect(69px,9999px,54px,0);
        transform: skew(0.48deg);
    }

    100% {
        clip: rect(43px,9999px,82px,0);
        transform: skew(0.94deg);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(31px,9999px,88px,0);
        transform: skew(0.53deg);
    }

    5% {
        clip: rect(93px,9999px,36px,0);
        transform: skew(0.43deg);
    }

    10% {
        clip: rect(70px,9999px,47px,0);
        transform: skew(0.34deg);
    }

    15% {
        clip: rect(10px,9999px,97px,0);
        transform: skew(0.06deg);
    }

    20% {
        clip: rect(9px,9999px,88px,0);
        transform: skew(0.53deg);
    }

    25% {
        clip: rect(13px,9999px,99px,0);
        transform: skew(0.49deg);
    }

    30% {
        clip: rect(54px,9999px,15px,0);
        transform: skew(0.39deg);
    }

    35% {
        clip: rect(30px,9999px,51px,0);
        transform: skew(0.69deg);
    }

    40% {
        clip: rect(53px,9999px,75px,0);
        transform: skew(0.15deg);
    }

    45% {
        clip: rect(15px,9999px,53px,0);
        transform: skew(0.72deg);
    }

    50% {
        clip: rect(4px,9999px,54px,0);
        transform: skew(0.85deg);
    }

    55% {
        clip: rect(50px,9999px,35px,0);
        transform: skew(0.64deg);
    }

    60% {
        clip: rect(50px,9999px,98px,0);
        transform: skew(0.38deg);
    }

    65% {
        clip: rect(3px,9999px,100px,0);
        transform: skew(0.67deg);
    }

    70% {
        clip: rect(56px,9999px,60px,0);
        transform: skew(0.87deg);
    }

    75% {
        clip: rect(32px,9999px,39px,0);
        transform: skew(0.33deg);
    }

    80% {
        clip: rect(87px,9999px,62px,0);
        transform: skew(0.4deg);
    }

    85% {
        clip: rect(47px,9999px,66px,0);
        transform: skew(0.94deg);
    }

    90% {
        clip: rect(18px,9999px,66px,0);
        transform: skew(0.48deg);
    }

    95% {
        clip: rect(45px,9999px,89px,0);
        transform: skew(0.33deg);
    }

    100% {
        clip: rect(88px,9999px,84px,0);
        transform: skew(0.25deg);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(4deg);
    }

    10% {
        transform: skew(5deg);
    }

    20% {
        transform: skew(-2deg);
    }

    30% {
        transform: skew(3deg);
    }

    40% {
        transform: skew(4deg);
    }

    50% {
        transform: skew(1deg);
    }

    60% {
        transform: skew(-3deg);
    }

    70% {
        transform: skew(2deg);
    }

    80% {
        transform: skew(-4deg);
    }

    90% {
        transform: skew(-3deg);
    }

    100% {
        transform: skew(5deg);
    }
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #121010;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg,#fff0 70%,rgb(0 0 0 / .25) 50%),linear-gradient(180deg,rgb(255 0 0 / .06),rgb(0 255 0 / .02));
    z-index: 1;
    background-size: .1% 2px,2px 50%;
    pointer-events: none;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    background: #000;
}

.container--outer {
    margin: 25px auto;
    box-shadow: 0 0 10px rgb(50 50 50 / .17);
    border-color: #fff;
    border-style: solid;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.wrapper {
    padding: 25px;
    background: #000;
    background-color: rgb(0 0 0 / .1);
}

.flex {
    display: -webkit-flex;
    display: flex;
}

.primary {
    -webkit-flex: 1 0 65.83%;
    flex: 1 0 65.83%;
    -webkit-order: 1;
    order: 1;
    min-width: 0;
    animation: primary_animation 0.78s ease-in-out;
}

.sidebar {
    -webkit-flex: 1 0 21%;
    flex: 1 0 24%;
    -webkit-order: 2;
    order: 2;
    min-width: 0;
    margin: 0 0 0 2.5%;
    animation: sidebar_animation 1.08s ease-in-out;
}

.sidebar--left {
    -webkit-order: 0;
    order: 0;
    margin: 0 2.5% 0 0;
}

.clearfix {
    display: block;
}

.clearfix::after {
    display: block;
    height: 0;
    padding: 0;
    margin: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
    content: "";
}

input,button,select,optgroup,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn {
    padding: 5px 10px;
    font-weight: 700;
    color: #fff;
    white-space: pre-line;
    background: linear-gradient(50deg,#020024 0%,#090979 37%,#00aacc 100%);
}

.btn:hover {
    color: #fff;
    background: #e22d30;
    border-bottom: ridge;
    margin-bottom: 5px;
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
}

.menu__item,.btn {
    transition: background-color 0.8s cubic-bezier(.17,.67,.83,.99);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    color: #00ec00;
}

h1 {
    font-size: 32px;
    font-size: 2rem;
}

h2 {
    font-size: 24px;
    font-size: 1.5rem;
}

h3 {
    font-size: 20px;
    font-size: 1.25rem;
}

h4 {
    font-size: 18px;
    font-size: 1.125rem;
}

h5 {
    font-size: 16px;
    font-size: 1rem;
}

h6 {
    font-size: 16px;
    font-size: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover:not(.logo__link):not(.menu__link):not(.post__thumbnal):not(.pager__link):not(.pagination__item):not(.widget__link--categories):not(.widget-taglist__link):not(.btn) {
    border-bottom: 6px groove red;
    text-decoration: none;
    transition: 0.4s ease;
}

hr {
    margin: 0 0 20px;
    border-top: 4px groove #dadada;
    border: 0;
    border-top: 3px groove #08c;
    height: 8px;
    background-image: linear-gradient(to right,#fff0,#ff0000);
    border-bottom: 3px groove #fff;
}

p {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
    font-family: "MisterGiacco-Bold";
    font-size: 14px;
}

b,strong {
    font: inherit;
    font-weight: 700;
}

i,em {
    font: inherit;
    font-style: italic;
}

ol,ul {
    padding: 0;
    margin: 0;
    font-family: "MisterGiacco-Bold";
    font-size: 14px;
}

small {
    font-size: 12px;
    font-size: .75rem;
}

mark {
    background-color: #fd5;
}

figure {
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
}

figcaption {
    margin-top: 4px;
    margin-top: .25rem;
    color: #666;
}

figcaption h4 {
    margin: 0;
    color: inherit;
}

pre,code,kbd,samp {
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 16px;
    font-weight: 700;
}

pre,code {
    background-color: #000;
    border: 1px solid #ebebeb;
}

code {
    padding: 0 5px;
    color: #c33;
}

pre {
    display: block;
    padding: 0;
    padding: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    overflow: auto;
    color: #0f1;
}

pre code {
    padding: 0;
    color: inherit;
    white-space: inherit;
    background: inherit;
    border: 0;
}

kbd {
    padding: 2px 3px;
    color: #fff;
    background-color: #2a2a2a;
}

blockquote {
    display: block;
    padding: 5px 0 5px 15px;
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
    line-height: 1.6;
    border-left: 5px solid #e22d30;
}

blockquote p:last-child {
    margin: 0;
}

blockquote footer {
    text-align: right;
}

sup,sub {
    font-size: 10px;
    font-size: .625rem;
    font-style: normal;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

abbr[title] {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dotted #000;
}

q {
    font-style: italic;
}

address {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-family: "Consolas",Courier New,Courier,monospace;
    line-height: 1.5;
}

dl {
    margin: 0 0 10px 20px;
}

dt,dd {
    display: list-item;
}

dt {
    font-weight: 700;
    list-style-type: square;
}

dd {
    margin-left: 20px;
    list-style-type: circle;
}

select {
    max-width: 100%;
}

.warning {
    padding: 20px 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.warning__icon {
    margin-bottom: 20px;
    fill: #ddd;
}

.header {
    background: #fff;
}

.logo {
    padding: 25px;
    background: linear-gradient(2deg,red,blue);
    animation: gradientMove 4000ms ease infinite,logo_animation 0.8s ease-in-out;
}

.logo__link {
    display: block;
    margin-bottom: -36px;
}

.logo__item {
    display: inline-block;
    vertical-align: middle;
}

.logo__item:hover {
    animation: glitch-anim 0.4s infinite;
}

.logo__img {
    max-height: 94px;
    border: 4px groove red;
    margin-left: 128px;
    margin-right: 30px;
    margin-bottom: 30px;
    float: center;
}

.logo__text {
    text-transform: uppercase;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 28px;
    border: 4px dashed #fff;
    margin-left: 5px;
    margin-top: -16px;
    margin-bottom: 12px;
    text-align: center;
    padding: 2px 8px 2px 8px;
}

@keyframes gradientMove {
    0% {
        background-size: 100% 4px;
    }

    50% {
        background-size: 100% 2px;
    }

    100% {
        background-size: 100% 4px;
    }
}

.logo__title {
    font-size: 35px;
    font-size: 2.24rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    margin-bottom: -4px;
}

.logo__title:hover {
    animation: rainbow 4s linear infinite;
}

.menu__text:hover {
    animation: rainbow 4s linear infinite;
}

.logo__tagline {
    display: inline-block;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1;
    color: #01eff8;
    border-top: 3px solid #ebebeb;
}

.divider {
    height: 5px;
    margin: 0;
    background: #e22d30;
    border: 0;
}

.no-js .menu__btn {
    display: none;
}

.menu__btn {
    display: block;
    width: 100%;
    padding: 0;
    font: inherit;
    color: #fff;
    background: #0ff10f;
    border: 0;
    outline: 0;
}

.menu__btn-title {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding: .625rem .9375rem;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 17px;
    line-height: 1.2;
}

:focus>.menu__btn-title {
    box-shadow: inset 0 0 1px 3px #e22d30;
}

button:not(:-moz-focusring):focus>.menu__btn-title {
    box-shadow: none;
}

.menu__btn:focus,.menu__btn-title:focus {
    outline: 0;
}

.js .menu__btn--active {
    color: #e22d30;
}

.menu__list {
    list-style: none;
    background: #008;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 16px;
    font-weight: 700;
    opacity: 94%;
}

.menu__item:hover {
    background: #e22d30;
    margin-bottom: -1px;
    margin-left: -1px;
}

.menu__item:first-child {
    border: 0;
}

.menu__item--active {
    background: #e22d30;
}

.menu__link {
    display: block;
    padding: 10px 15px;
    padding: .625rem .9375rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    scale: 100%;
    transition: 0.4s ease-in-out;
}

.menu__link:hover {
    color: #fff;
    border-bottom: ridge;
    margin-bottom: -4px;
    border-top: ridge;
    margin-top: -4px;
    border-left: ridge;
    margin-left: -4px;
    border-right: ridge;
    margin-right: -4px;
    background: linear-gradient(-8deg,red,blue);
    animation: gradientMove 200ms ease infinite;
    scale: 103%;
    transition: 0.1s ease-in-out;
}

.js .menu__list {
    position: absolute;
    z-index: 10000;
    width: 100%;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.js .menu__list--active {
    visibility: visible;
    border-top: 1px solid rgb(255 255 255 / .1);
    border-bottom: 1px solid rgb(255 255 255 / .1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.menu__list--transition {
    transition: visibility 0.85s ease,transform 0.85s ease,-webkit-transform 0.85s ease;
}

@media screen and (min-width:1080px) {
    .menu {
        border-image: linear-gradient(to right,#3f5efb 2%,#a152b0 10%,#fc466b 88%) 100;
        border-bottom: 8px solid #e22d30;
    }

    .menu__btn {
        display: none;
    }

    .menu__list,.js .menu__list {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        visibility: visible;
        border: 0;
        -webkit-transform: none;
        transform: none;
    }

    .menu__item {
        border-left: 1px solid rgb(255 255 255 / .1);
    }
}

.post__header,.main__header {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.tags {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1;
    color: #fff;
}

.tags__list {
    list-style: none;
}

.tags__item {
    float: left;
    margin: 0 6px 6px 0;
    margin: 0 .375rem .375rem 0;
    text-transform: uppercase;
    background: #2a2a2a;
    margin-bottom: 10px;
}

.tags__item:hover {
    background: #e2fdf0;
    margin-bottom: -4px;
}

.tags__link,.tags__link:hover {
    font-family: "amiga_topaz_unicode_rusRg";
    display: block;
    padding: 10px 15px;
}

.tags__badge {
    float: left;
    width: 32px;
    height: 32px;
    padding: 8px;
    margin-right: 6px;
    background: #e22d30;
    fill: #fff;
}

.main__title {
    font-size: 28px;
    font-size: 1.75rem;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 20px;
    text-transform: uppercase;
    animation: rainbow 2s linear infinite;
}

.main__content {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.meta {
    font-size: 13px;
    font-size: .9125rem;
    vertical-align: baseline;
    background: #3f5efb;
    background: linear-gradient(31deg,#3f5efb 0%,rgb(252 70 107 / .5662542429663352) 100%);
}

.meta,.meta a {
    color: #fff;
}

.meta a:hover {
    color: #e22d30;
}

.meta__item {
    display: inline;
    margin-left: 15px;
}

.meta__item:first-child {
    margin-left: 0;
}

.meta__icon {
    margin-right: 5px;
    vertical-align: middle;
    background: radial-gradient(#000068 20%,#22a0e1 100%);
    fill: #39f;
    transition: 0.4s ease-in-out;
    transform: scale(1);
}

.meta__icon:hover {
    transition: 0.4s ease-in-out;
    transform: scale(1.18);
}

.meta__text {
    vertical-align: middle;
}

.post__title {
    margin: 0;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 22px;
    animation: rainbow 6s linear infinite;
}

.post__meta {
    padding: 5px 0;
    padding-left: 10px;
    margin-top: 10px;
    margin-top: .625rem;
    border-top: 2px dotted #ebebeb;
    border-bottom: 2px dotted #ebebeb;
    font-family: "MisterGiacco-Bold";
    font-size: 14px;
}

.post__lead {
    margin-top: 4px;
    margin-top: .25rem;
    margin-bottom: 0;
    font-size: 16px;
    font-size: 1rem;
    font-style: italic;
}

.post__thumbnail {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-bottom: 0 0 1.25rem;
    scale: 100%;
    transition: scale 0.2s ease-in-out;
}

.post__thumbnail:hover {
    scale: 108%;
    animation: glitch-anim 0.4s infinite;
}

.post__thumbnail img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.content a,.warning a,.authorbox__description a {
    font-weight: 700;
    color: #e22d30;
}

.content a:hover,.warning a:hover,.authorbox__description a:hover {
    text-decoration: underline;
}

.content .alignnone {
    display: block;
    margin: 20px 0;
    margin: 1.25rem 0;
}

.content .aligncenter {
    display: block;
    margin: 20px auto;
    margin: 1.25rem auto;
}

.content .alignleft {
    display: inline;
    float: left;
    margin: 5px 20px 20px 0;
    margin: .3125rem 1.25rem 1.25rem 0;
}

.content .alignright {
    display: inline;
    float: right;
    margin: 5px 0 20px 20px;
    margin: .3125rem 0 1.25rem 1.25rem;
}

.content ul {
    list-style: square;
}

.content ol {
    list-style: decimal;
}

.content ul,.content ol {
    margin: 0 0 20px 40px;
}

.content ul ul,.content ol ol,.content ol ul,.content ul ol {
    margin: 0 0 0 40px;
}

.content li {
    margin-bottom: 5px;
}

.post__footer {
    margin-top: 20px;
    margin-top: 1.25rem;
}

.toc {
    font-weight: 700;
    color: #7a8288;
    background: #028;
    border-color: #008;
    border-style: solid;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.toc__title {
    padding: 5px 10px;
    color: #1ff;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #000058;
}

.toc__menu ul {
    margin: 0;
    list-style: none;
}

.toc__menu li li a {
    padding-left: 25px;
}

.toc__menu li li li a {
    padding-left: 45px;
}

.toc__menu li li li li a {
    padding-left: 65px;
}

.toc__menu li li li li li a {
    padding-left: 85px;
}

.toc__menu li li li li li li a {
    padding-left: 105px;
}

.toc__menu li {
    margin: 0;
}

.toc__menu a {
    display: block;
    padding: 5px 10px;
    color: #e22d30;
    border-bottom: 1px solid #ebebeb;
}

.toc__menu a:hover {
    color: #fff;
}

.authorbox {
    padding: 25px 0;
    margin-bottom: 25px;
    line-height: 1.5;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 16px;
    color: lime;
}

.authorbox__avatar {
    float: left;
    padding: 3px;
    margin: 0 25px 0 0;
    border: 1px solid #ebebeb;
}

.authorbox__header {
    margin-bottom: 10px;
}

.authorbox__name {
    color: red;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 16px;
    font-weight: 700;
}

.list__item {
    padding-bottom: 20px;
    padding-bottom: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #ebebeb;
    font-family: "MisterGiacco-Bold";
    font-size: 15px;
}

.list__header {
    margin-bottom: 10px;
    margin-bottom: .625rem;
}

.list__title {
    font-size: 20px;
    font-size: 1.25rem;
}

.list__meta {
    margin-top: 5px;
    border-top: 2px dotted #ebebeb;
    border-bottom: 2px dotted #ebebeb;
}

.list__thumbnail {
    float: left;
    margin: 0 20px 0 0;
    filter: saturate(28%);
    scale: 100%;
    transition: all 0.4s ease-in-out;
}

.list__thumbnail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(rgb(0 0 0 / .5) 50%,transparent 50%);
    background-size: 100% 2px;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.post__thumbnail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(rgb(0 0 0 / .5) 50%,transparent 50%);
    background-size: 100% 3px;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.list__thumbnail:hover::after,.post__thumbnail:hover::after {
    opacity: 1;
}

.list__thumbnail:hover {
    animation: glitch-anim 0.4s infinite;
    filter: saturate(108%);
    scale: 101%;
}

.list__thumbnail img {
    width: 100%;
    max-width: 235px;
}

.list__footer-readmore {
    float: right;
}

.pagination {
    margin-top: 20px;
}

.pagination__item {
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    color: #000;
    background: #18f;
}

.pagination__item:hover,.pagination__item--current {
    color: #fff;
    margin: 0;
    border: 0;
    background: #e22d30;
    animation: fadeInAnimation ease 0.14s;
    animation-iteration-count: 4;
    animation-fill-mode: forwards;
}

.pager {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 8px;
    margin-bottom: 25px;
    border-bottom: 10px solid red;
    font-weight: 700;
}

.pager__subtitle {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: red;
}

.pager__title {
    margin-bottom: 7px;
    overflow: hidden;
    font-size: 13px;
    font-size: .8125rem;
    color: #fff;
}

.pager__item {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 44%;
}

.pager__item--next {
    margin-left: auto;
    text-align: right;
}

.pager__link {
    display: block;
    margin-bottom: 8px;
    background: linear-gradient(8deg,blue,#000068);
    border-bottom: 6px groove red;
    padding: 12px;
    height: 98px;
}

.pager__link:hover {
    text-decoration: none;
    transition: 0.4s ease;
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 98px;
}

img {
    width: auto\9;
    max-width: 100%;
    height: auto;
    outline-style: groove;
    outline-color: #2e84ff;
    vertical-align: bottom;
}

iframe,embed,object,video {
    max-width: 100%;
}

table {
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}

td,th {
    padding: 5px 10px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

th {
    font-weight: 700;
}

input {
    padding: 5px;
    font-size: 12px;
    vertical-align: middle;
    background: #f5f5f5;
    border: 1px solid #ebebeb;
    transition: all 0.25s ease-in-out;
}

input[type="text"],input[type="email"],input[type="tel"],input[type="url"] {
    width: 60%;
}

input[type="text"]:hover,input[type="email"]:hover,input[type="tel"]:hover,input[type="url"]:hover,textarea:hover {
    border: 1px solid #aaa;
}

input[type="submit"],input[type="reset"] {
    display: inline-block;
    min-width: 150px;
    padding: 10px 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: #2a2a2a;
    border: 0;
    transition: all 0.1s linear;
}

input[type="submit"]:hover,input[type="reset"]:hover {
    background: #e22d30;
}

textarea {
    width: 96%;
    padding: 5px;
    overflow: auto;
    line-height: 1.5;
    resize: vertical;
    background: #f5f5f5;
    border: 1px solid rgb(0 0 0 / .1);
}

.widget {
    margin-bottom: 25px;
    overflow: hidden;
}

.widget:last-child {
    margin-bottom: 0;
}

.widget__title {
    position: relative;
    padding-bottom: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 3px solid #e22d30;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 18px;
    font-weight: 700;
    animation: rainbow 4s linear infinite;
}

h4 {
    animation: rainbow 4s linear infinite;
}

.widget__item {
    display: block;
    border-bottom: 1px dotted #ebebeb;
    border-top: 2px dotted #ebebeb;
    font-weight: 900;
    background: #000f80;
    font-family: "FutureWorld";
    font-size: 20px;
    text-indent: 18px;
}

.widget__item:hover {
    display: block;
    background: rgb(255 255 255 / .48);
    animation: fadeInAnimation ease 0.1s;
    animation-iteration-count: 4;
    animation-fill-mode: forwards;
    text-decoration: none;
}

.widget__link--categories {
    display: inline-block;
    padding-right: 99vh;
    margin-right: -99vh;
    font-family: "FutureWorld";
}

.widget__item:first-child {
    padding-top: 12;
    text-indent: 18px;
    color: #fff;
}

.widget__counter--bubble {
    padding: 2px 2px;
    box-shadow: inset 30px 10px 10px 1px #133d0c,24px 20px 70px 20px rgb(92 0 255 / .95);
    font-size: .85rem;
    color: #0f1;
    background: #000;
    border-radius: 4em;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 13px;
    display: flex;
    float: right;
    margin-right: 20px;
    padding-right: 21px;
    margin-top: 3px;
}

.widget__counter--bubble::last-child {
    box-shadow: inset 30px 10px 10px 1px #133d0c,24px 10px 90px 20px rgb(92 0 255 / .95);
}

.widget-search__form {
    display: block;
    padding: 5%;
    margin: 0 auto;
    margin-top: 4px;
}

.widget-search__form .widget-search__submit {
    display: none;
}

.widget-search__field {
    position: relative;
    background: #0070f1;
    color: #fff;
    display: block;
    width: 64%;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ebebeb;
    border-radius: 0;
    transition: none;
    padding-left: 4px;
    animation: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.widget-search__field:active,.widget-search__field:focus {
    cursor: text;
}

.widget-search__field:focus {
    width: 94%;
    outline: 0;
    animation: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.widget-taglist__link {
    display: inline-block;
    margin: 0 4px 8px 0;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 11px;
    text-transform: uppercase;
    background: linear-gradient(50deg,#020024 0%,#090979 37%,#00aacc 100%);
}

.widget-taglist__link:hover {
    text-decoration: none;
    transition: 0.4s ease;
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-bottom: -99px;
}

.footer {
    padding: 10px 25px;
    font-size: .75rem;
    color: #fff;
    background: #000058;
    border-image: linear-gradient(to right,#87def0 12%,#18f 88%) 100;
    border-top: 8px solid #18f;
    font-weight: 700;
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 14px;
    font-weight: 700;
}

.footer__container {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: #000058;
}

.footer__links {
    -webkit-order: 1;
    order: 1;
}

.footer a {
    color: #1fa;
}

.footer a:hover {
    text-decoration: none;
}

.tableStyle {
    width: 68%;
}

.tableStyle th {
    background: grey;
    word-wrap: break-word;
    text-align: center;
}

.tableStyle tr:nth-child(1),tr:nth-child(2),tr:nth-child(5),tr:nth-child(6),tr:nth-child(7),tr:nth-child(8),tr:nth-child(9),tr:nth-child(10),tr:nth-child(11),tr:nth-child(12),tr:nth-child(13),tr:nth-child(14),tr:nth-child(16),tr:nth-child(17),tr:nth-child(18),tr:nth-child(19),tr:nth-child(20),tr:nth-child(21),tr:nth-child(22),tr:nth-child(23),tr:nth-child(24),tr:nth-child(25),tr:nth-child(26),tr:nth-child(27),tr:nth-child(28),tr:nth-child(29),tr:nth-child(30),tr:nth-child(31),tr:nth-child(33),tr:nth-child(34),tr:nth-child(35),tr:nth-child(36) {
    background: green;
}

.tableStyle tr:nth-child(3),tr:nth-child(4),tr:nth-child(13),tr:nth-child(20) {
    background: orange;
}

.tableStyle tr:nth-child(15) {
    background: cyan;
}

.tableStyle tr:nth-child(32) {
    background: red;
}

.tableStyle2 th {
    background: #fff;
}

.tableStyle2 tr {
    background: #fff;
    color: #000;
}

.tableStyle2 th:nth-child(1),th:nth-child(2),th:nth-child(3),th:nth-child(4),th:nth-child(5),th:nth-child(6) {
    background: #18f;
}

.tableStyle3 th {
    background: #fff;
}

.tableStyle3 tr {
    background: #fff;
    color: #000;
}

.tableStyle3 th:nth-child(1),th:nth-child(2),th:nth-child(3),th:nth-child(4),th:nth-child(5),th:nth-child(6),th:nth-child(7) {
    background: grey;
}

.no-auto-fit {
    min-width: 888px;
    max-width: 888px;
}

.img-slider-center {
    margin: auto;
    width: 88%;
}

* {
    box-sizing: border-box;
}

.img-comp-container {
    position: relative;
    height: 373px;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 60px;
    background-color: #0c4;
    opacity: .7;
    border-radius: 30%;
    border-bottom: 8px groove #062;
}

.tip-button {
    width: 384px;
    height: 60px;
    background-size: 80%;
    background-image: url(/img/mask/1_pay_mm_over.png);
    cursor: pointer;
}

.tip-button:hover {
    background-image: url(/img/mask/1_pay_mm_off.png);
}

.tip-button:active {
    background-image: url(/img/mask/1_pay_mm_over.png);
}

#myBtn {
    position: fixed;
    width: 140px;
    bottom: 108px;
    border: none;
    left: 0;
    z-index: 100000;
    outline: none;
    color: #fff;
    padding-bottom: 4px;
    ;border-radius: 4px;
    font-size: 24px;
    opacity: 84%;
    visibility: hidden;
    background-color: #122b99;
    font-family: "amiga_topaz_unicode_rusRg";
    animation: button-fade 2s ease-in-out;
    transition: all 0.8s ease-in-out;
}

#myBtn.show {
    opacity: .84;
    visibility: visible;
}

#myBtn.hide {
    opacity: 0;
    visibility: hidden;
}

#myBtnHome {
    display: block;
    position: fixed;
    left: 0;
    bottom: 58px;
    width: 140px;
    z-index: 100000;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    padding-left: 9px;
    font-size: 20px;
    background-color: #122b99;
    font-family: "amiga_topaz_unicode_rusRg";
    opacity: 84%;
    letter-spacing: .14em;
    animation: button-fade 2s ease-in-out;
    transition: all 0.8s ease-in-out;
}

#myBtn:hover {
    background-color: red;
    scale: 104%;
    transition: all 0.4s ease-in-out;
}

#myBtnHome:hover {
    background-color: red;
    scale: 104%;
    transition: all 0.4s ease-in-out;
}

#myBtnIndex {
    position: fixed;
    width: 140px;
    bottom: 58px;
    border: none;
    left: 0;
    z-index: 100000;
    outline: none;
    color: #fff;
    padding-bottom: 4px;
    border-radius: 4px;
    font-size: 24px;
    opacity: 84%;
    visibility: hidden;
    background-color: #122b99;
    font-family: "amiga_topaz_unicode_rusRg";
    animation: button-fade 2s ease-in-out;
    transition: all 0.8s ease-in-out;
}

#myBtnIndex.show {
    opacity: .84;
    visibility: visible;
}

#myBtnIndex.hide {
    opacity: 0;
    visibility: hidden;
}

#myBtnSupport {
    display: block;
    position: fixed;
    left: 0;
    bottom: 8px;
    width: 140px;
    z-index: 100000;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    padding-left: 9px;
    font-size: 20px;
    background-color: #122b99;
    font-family: "amiga_topaz_unicode_rusRg";
    opacity: 84%;
    letter-spacing: .14em;
    animation: button-fade 2s ease-in-out;
    transition: all 0.8s ease-in-out;
}

#myBtn:hover,#myBtnIndex:hover,#myBtnHome:hover,#myBtnSupport:hover {
    background-color: red;
    scale: 104%;
    transition: all 0.4s ease-in-out;
}

@keyframes button-fade {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

#mydiv {
    position: absolute;
    z-index: 100;
    background-color: #0b5394;
    border: 1px solid #d3d3d3;
    text-align: center;
    opacity: 94%;
    left: -211px;
    top: 150px;
    width: 197px;
    border: 4px groove #0a84ff;
    padding-bottom: 7px;
}

#mydivheader {
    padding: 8px;
    cursor: move;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;
}

#mydiv2 {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: #0b5394;
    text-align: center;
    opacity: 94%;
    left: -211px;
    top: 140px;
    padding: 8px;
    width: 196px;
    border: 4px groove #0a84ff;
}

#mydivheader2 {
    padding: 8px;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;
}

#mydiv3 {
    position: absolute;
    z-index: 9;
    background-color: #0b5394;
    text-align: center;
    color: red;
    opacity: 94%;
    padding: 8px;
    left: -210px;
    width: 196px;
    border: 4px groove #0a84ff;
}

#mydivheader3 {
    padding: 8px;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;
}

#mydiv-wrapper {
    animation: sidebar_offscreen_animation 4s ease;
}

@keyframes sidebar_offscreen_animation {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

#banner {
    color: red;
    font-size: 12px;
    margin: 0 auto;
}

#sidebar-link {
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

u {
    text-decoration-thickness: 3px;
}

.rainbow {
    animation: rainbow 2s linear infinite;
}

.rainbow:hover {
    animation: rainbow 1s infinite;
}

@-webkit-keyframes rainbow {
    0% {
        color: red;
    }

    10% {
        color: #ff8000;
    }

    20% {
        color: #ff0;
    }

    30% {
        color: #80ff00;
    }

    40% {
        color: lime;
    }

    50% {
        color: #00ff80;
    }

    60% {
        color: cyan;
    }

    70% {
        color: #0080ff;
    }

    80% {
        color: blue;
    }

    90% {
        color: #8000ff;
    }

    100% {
        color: #ff0080;
    }
}

@-ms-keyframes rainbow {
    0% {
        color: red;
    }

    10% {
        color: #ff8000;
    }

    20% {
        color: #ff0;
    }

    30% {
        color: #80ff00;
    }

    40% {
        color: lime;
    }

    50% {
        color: #00ff80;
    }

    60% {
        color: cyan;
    }

    70% {
        color: #0080ff;
    }

    80% {
        color: blue;
    }

    90% {
        color: #8000ff;
    }

    100% {
        color: #ff0080;
    }
}

@-o-keyframes rainbow {
    0% {
        color: red;
    }

    10% {
        color: #ff8000;
    }

    20% {
        color: #ff0;
    }

    30% {
        color: #80ff00;
    }

    40% {
        color: lime;
    }

    50% {
        color: #00ff80;
    }

    60% {
        color: cyan;
    }

    70% {
        color: #0080ff;
    }

    80% {
        color: blue;
    }

    90% {
        color: #8000ff;
    }

    100% {
        color: #ff0080;
    }
}

@keyframes rainbow {
    0% {
        color: red;
    }

    10% {
        color: #ff8000;
    }

    20% {
        color: #ff0;
    }

    30% {
        color: #80ff00;
    }

    40% {
        color: lime;
    }

    50% {
        color: #00ff80;
    }

    60% {
        color: cyan;
    }

    70% {
        color: #0080ff;
    }

    80% {
        color: blue;
    }

    90% {
        color: #8000ff;
    }

    100% {
        color: #ff0080;
    }
}

.space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.star-moving {
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    opacity: 0;
    animation: blink 6s infinite,glowing 8s infinite;
    z-index: 10000;
}

@keyframes glowing {
    from {
        filter: drop-shadow(6px 5px 4px #af64ff);
    }

    to {
        filter: drop-shadow(8px 7px 5px #48abe0);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
        box-shadow: 0 0 2px 2px rgb(222 248 255 / .27);
    }

    54% {
        opacity: 1;
        box-shadow: 0 0 2px 2px rgb(220 238 255 / .27);
    }

    100% {
        opacity: 0;
    }
}

@keyframes sidebar_animation {
    from {
        transform: translateX(-100%);
        display: none;
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        display: block;
        opacity: 1;
    }
}

@keyframes primary_animation {
    from {
        transform: translateX(100%);
        display: none;
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        display: block;
        opacity: 1;
    }
}

@keyframes logo_animation {
    from {
        transform: translateY(-100%);
        display: none;
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        display: block;
        opacity: 1;
    }
}

.warning__headline {
    font-family: "amiga_topaz_unicode_rusRg";
    font-size: 64px;
    animation: glitch 1s 2.05s infinite;
}

.loading {
    filter: blur(8px) grayscale(80%);
}

.loaded {
    filter: blur(0) grayscape(0);
    transition: 0.4s ease-in-out;
}



/* top new year blobs */

   	.space {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
	    z-index: 1000000;
        }



        .star-moving {
            position: absolute;
            width: 28px;
            height: 28px;
            background-color: var(--main-bg-color);
            border-radius: 50%;
            opacity: 0;
            animation: blink 6s infinite, glowing 8s infinite;
	    z-index: 1000000;

        }



        @keyframes glowing {
            from {
                filter: drop-shadow(6px 5px 4px #af64ff);
            }

            to {
                filter: drop-shadow(8px 7px 5px #48abe0);
            }

        }


        @keyframes blink {
            0% {
                opacity: 0;
                box-shadow: 0 0 2px 2px rgba(222, 248, 255, 0.27);

            }

            54% {
                opacity: 1;
                box-shadow: 0 0 2px 2px rgba(220, 238, 255, 0.27);


            }

            100% {
                opacity: 0;


            }
        }

/* top new year blobs END */


/* STARFIELD */

.starfield {
  position: relative;
  width: 100vw;
  height: 100vh;

}

/* Each layer uses the same keyframes but at different speeds + opacities */
.star-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* Animation from bottom to top */
  animation: moveStars linear infinite;
}

#layer1 {
  opacity: 0.5;
  animation-duration: 15s; /* faster (smaller 'far' stars) */
}

#layer2 {
  opacity: 0.7;
  animation-duration: 20s;
}

#layer3 {
  opacity: 0.9;
  animation-duration: 25s; /* slower (closer 'big' stars) */
}

/* A single star is just a small square or circle, made white, with a box-shadow for brightness */
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  /* Add a faint glow */
  box-shadow: 0 0 2px #fff;
}

/* 
   Chromatic aberration trick:
   Slight colored drop-shadows on each star. 
   Adjust the color and blur to your liking.
*/
#layer1 .star {
  filter: drop-shadow(0 0 3px rgba(255, 0, 0, 0.8));
}
#layer2 .star {
  filter: drop-shadow(0 0 3px rgba(0, 255, 0, 0.8));
}
#layer3 .star {
  filter: drop-shadow(0 0 3px rgba(0, 128, 255, 0.8));
}

/* Move background from bottom to top */
@keyframes moveStars {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}


/* STARFIELD EOF */


@media screen and (max-width:2200px) {
    .container--outer {
        width: 95%;
    }
}

@media screen and (max-width:1900px) {
    .container--outer {
        width: 95%;
    }
}

@media screen and (max-width:1620px) {
    .container--outer {
        width: 95%;
    }
}

@media screen and (max-width:1475px) {
    .container--outer {
        width: 95%;
    }
}


@media screen and (max-width:1080px) {
    .featured-container,.pixel {
        display: block;
        height: auto;
        margin: 0 auto;
        margin-bottom: 178px;
    }

    .pixel0 {
        display: none;
    }

    .wrapper {
        display: block;
    }

    span.menu__text {
        display: flex;
        justify-content: flex-end;
    }

    .menu__link {
        margin-right: 14px;
    }

    .menu__item:first-of-type {
        margin-top: 10px;
    }

    .sidebar {
        float: none;
        width: 100%;
        margin: 0;
    }

    .logo {
        text-align: center;
    }

    .logo__link {
        margin: 0 auto;
        border-bottom: none;
    }

    .logo__title {
        font-size: 24px;
        border-bottom: none;
    }

    .sidebar {
        margin-top: 20px;
    }

    .logo__img {
        display: inline-block;
        position: absolute;
        max-height: 88px;
        border: 2px groove red;
        top: 31px;
        left: -30px;
        margin-bottom: 30px;
        z-index: 1000;
    }

    .logo__item {
        display: inline-block;
        width: 568px;
        margin-left: 120px;
    }

    .above-rainbow-counter {
        margin-top: 30px;
    }
}


@media screen and (max-width:928px) {
    .logo__img {
        left: -55px;
        margin-top: -5px;
        z-index: 1000;
    }
}

@media screen and (max-width:900px) {
    .container--outer {
        width: 100%;
        margin: 0 auto;
    }

    .wrapper,.logo {
        padding: 20px;
    }

    .widget {
        margin-bottom: 20px;
    }

    .footer__container {
        display: block;
    }

    .footer__links {
        padding-bottom: 8px;
        padding-bottom: .5rem;
        text-align: center;
    }

    .footer__copyright {
        text-align: center;
    }

    .logo__img {
        display: inline-block;
        position: absolute;
        max-height: 88px;
        border: 2px groove red;
        top: 48px;
        left: -80px;
        margin-bottom: 30px;
    }

    .logo__item {
        display: inline-block;
        width: 418px;
        margin-left: 110px;
    }
}

@media screen and (max-width:800px) {
    .logo__img {
        display: inline-block;
        position: absolute;
        max-height: 88px;
        border: 2px groove red;
        top: 52px;
        left: -30px;
        margin-bottom: 30px;
        z-index: 1000;
    }

    .logo__item {
        display: inline-block;
        width: 388px;
        margin-left: 120px;
    }
}

@media screen and (max-width:620px) {
    html,body,.js,.idc0_343 {
        overflow-x: hidden;
    }

    .post__thumbnail img {
        width: 100%;
    }

    .featured-container,.pixel {
        display: block;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0 auto;
        margin-bottom: 148px;
    }

    input[type="text"],input[type="email"],input[type="tel"],input[type="url"] {
        width: 88%;
    }

    .meta__item {
        display: block;
        margin-left: 0;
    }

    .authorbox {
        text-align: center;
    }

    .authorbox__avatar {
        display: inline-block;
        float: none;
        margin: 0 0 20px;
    }

    .pager {
        display: block;
    }

    .pager__item {
        min-width: 100%;
        text-align: center;
    }

    .pager__item--prev {
        padding-bottom: 25px;
    }

    .content ul,.content ol {
        margin: 0 0 20px 20px;
    }

    .content ul ul,.content ol ol,.content ol ul,.content ul ol {
        margin: 0 0 0 20px;
    }

    .list__thumbnail {
        max-width: 80px;
    }

    .list__title {
        font-size: 16px;
        font-size: 1rem;
    }

    .list__title:hover {
        animation: rainbow 2s linear infinite;
    }

    .list__lead {
        font-size: 14px;
        font-size: .875rem;
    }

    .list__meta {
        display: flex;
        font-size: 11px;
        font-size: .6875rem;
        flex-direction: column;
        align-items: flex-end;
        padding: 8px;
    }

    .logo__img {
        display: inline-block;
        position: absolute;
        max-height: 88px;
        border: 2px groove red;
        top: 50px;
        left: -90px;
        margin-bottom: 30px;
        z-index: 1000;
    }

    .logo__item {
        display: inline-block;
        width: 418px;
        margin-left: 80px;
    }

    .logo__text {
        text-transform: uppercase;
        font-family: "amiga_topaz_unicode_rusRg";
        font-size: 18px;
        border: 2px dotted #fff;
        margin-left: 95px;
        text-align: right;
        width: 418px;
    }
}

@media screen and (max-width:540px) {
    html,body,.js,.idc0_343 {
        overflow-x: hidden;
    }

    .logo__img {
        top: 78px;
        z-index: 1000;
    }

    .logo__text {
        width: 218px;
    }

    .featured-container,.pixel {
        display: block;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0 auto;
        margin-bottom: 120px;
    }

    .list__meta {
        padding-top: 1px;
        margin-top: 30px;
    }
}

@media screen and (max-width:460px) {
    .featured-container,.pixel {
        display: block;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .me-pix {
        margin-right: 150px;
        margin-bottom: 40px;
        margin-left: 11%;
    }
}

@media screen and (max-width:330px) {


	.logo__title {
	    font-size: 12px;
	    margin-top: 10px;
	    margin-right: 40px;;
	}

	.logo__tagline {
	    font-size: 10px;
	    margin-top: 10px;
	
	}

	.logo__img {
	    top: 40px;
	    margin-left: 110px;	
            width: 90px;
	}
}

.featured-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-container .pixel {
    position: relative;
    width: 607px;
    height: auto;
    background: #fff;
    margin-bottom: 224px;
}

.featured-container .pixel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 607px;
    height: auto;
    image-rendering: pixelated;
}

.featured-container .pixel img:last-child {
    transition: 1.2s;
}

.featured-container .pixel:hover img:last-child {
    opacity: 0;
    scale: 112%;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.rainbow-counter {
    animation: rainbow 2s linear infinite;
}

.img-counter {
    image-rendering: pixelated;
    scale: 200%;
    margin-bottom: 48px;
}



