<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="refresh" content="4888">
	
	<title>HOW TO OPEN LINKS IN A NEW TAB IN MAINROAD HUGO THEME ► █▓▒░ Unlisted Retrograde Holdout</title>
	<script>(function (d, e) { d[e] = d[e].replace("no-js", "js"); })(document.documentElement, "className");</script>
	<meta name="description"
		content="">
	<meta itemprop="name" content="HOW TO OPEN LINKS IN A NEW TAB IN MAINROAD HUGO THEME">
<meta itemprop="description" content="I bet that many of you would like to open site links not in the same window, but in a background tab. Such behavior is restricted by default settings of most Hugo themes. Mainroad is restricting it also. Here is a solution on how to overcome weird limitation.
Create file render-link.html in _default folder of the theme. Name_of_your_site\themes\mainroad\layouts\_default\_markup\render-link.html Contents of render-link.html should be like this:
&lt;a href=&#34;{{ .Destination | safeURL }}&#34;{{ with ."><meta itemprop="datePublished" content="2021-09-12T00:00:00+00:00" />
<meta itemprop="dateModified" content="2021-09-12T00:00:00+00:00" />
<meta itemprop="wordCount" content="95">
<meta itemprop="keywords" content="HTML,Markdown," />

	
    	<link rel="preload" as="font" href="/fonts/amiga-webfont.woff2">
    	<link rel="preload" as="font" href="/fonts/FutureWorld.woff2">
    	<link rel="preload" as="font" href="/fonts/FutureWorld.woff">
    	<link rel="preload" as="font" href="/fonts/MisterGiacco-Bold.woff2">
	<link rel="stylesheet" rel="preload" href="/css/style.css">
	

	<link rel="shortcut icon" href="/%20favicon.ico">

	

</head>

<body class="body">

<div id="progressbar"></div>
<div id="scrollpath"></div>




 
	<div class="space">
		<div class="stars"></div>
		<div class="stars"></div>
		<div class="stars"></div>
		<div class="stars"></div>

	</div>



	<div class="container container--outer">

		<header class="header loading lazy">
	<div class="container header__container loading lazy">
		
	<div class="logo logo--mixed">
		<a class="logo__link" href="/" title="░▒▓█ ÜNL¡STÈD RËTR0GRÀDé HºLÐOüT" rel="home">
			<div class="logo__item logo__imagebox">
					<img class="logo__img" title="ME, READING YER MAILS" data-tooltip src="/img/brazil.png">
				</div><div class="logo__item logo__text">
					<div class="logo__title" title="THIS IS ALMOST ANALOG PLACE OF VHS TAPES, 4:3 ASPECT RATIO, 512X384 RESOLUTION, FLOYD–STEINBERG PICTURE COMPRESSION, COMPACT DISCS AND TRACKER MODULE MUSIC">░▒▓█ ÜNL¡STÈD RËTR0GRÀDé HºLÐOüT</div>
					<div class="logo__tagline" title="WEBSITE IS SURELY INSPIRED BY LETTER N, NUMBER 8, OLD MTV, BEAVIS & BUTT-HEAD AND OTHER SYMBOLICS OF 90S, SO BE MY GUEST AND ENJOY IF YOU CAN!"> ░▒ RANT ABOUT 80s/90s ERA .:. VINTAGE &amp; LEFTFIELD TECHNOLOGIES ▒░ </div>
				</div>
		</a>
	</div> 
<nav class="menu loading lazy">
	<button class="menu__btn loading lazy" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1"> ╚ MENU SELECTOR ░▒▓█</span>
	</button>
	<ul class="menu__list">
<div id="mydiv-wrapper">
<div id="mydiv3">
  <div id="mydivheader3">4DESKTOP USERS</div>
  <p id="banner">Set from 100% to 120%</p>
  <p id="banner">zoom in your browser </p>
  <p id="banner">for <a id="sidebar-link" href="/post/message-for-desktop-non-windows-7-readers" target="_blank">correct scaling!</a></p>
</div>

<div id="mydiv2">
  <div id="mydivheader2">♫ AUDIO CONTROL</div>
  <p></p>
  <p id="banner"> Turn on space ambience!</p>
  <p></p>
<audio class="side-floaters-link" style="width:170px; height:20px;" id="myBackdrop" title="PLAY/PAUSE BACKDROP AUDIO" controls loop autoplay>
<source src="#" type="audio/mp3"> Your browser does not support the audio element.
</audio>
</div>

<div id="mydiv">
  <div id="mydivheader">♫ BEST TRACKER MODS</div>
  <p></p>
  <p><a href="https://www.tiktok.com/@trackerninja808" target="_blank"><img class="side-floaters-link" src="/img/banner-rainbow/anibanner.gif"></a></p>
</div>
</div>
		<li class="menu__item">
			<a class="menu__link" href="/">
				
				<span class="menu__text">[HOME] ≡</span>
				
			</a>

		</li>
		<li class="menu__item">
			<a class="menu__link" href="/menu/_windows/">
				
				<span class="menu__text">[WINDOWS7] ■</span>
				
			</a>

		</li>
		<li class="menu__item">
			<a class="menu__link" href="/menu/_microstock/">
				
				<span class="menu__text">[GFX] ▲</span>
				
			</a>

		</li>
		<li class="menu__item">
			<a class="menu__link" href="/menu/_music/">
				
				<span class="menu__text">[MUSIC] ♫</span>
				
			</a>

		</li>
		<li class="menu__item">
			<a class="menu__link" href="/menu/_links/">
				
				<span class="menu__text">[LINKS] ₪</span>
				
			</a>

		</li>
		<li class="menu__item">
			<a class="menu__link" href="/menu/_support/">
				
				<span class="menu__text">[SUPPORT] $</span>
				
			</a>

		</li>
		<li class="menu__item">
			<a class="menu__link" href="/menu/_about/">
				
				<span class="menu__text">[ABOUT] ®</span>
				
			</a>

		</li>

 <div class="widget-search widget">
	<form class="widget-search__form" role="search" method="get" action="https://google.com/search?q=%s" target="_blank" rel="noopener">
		<label>
			<input class="widget-search__field" type="search" placeholder="&gt;SEARCH..." value="" name="q" aria-label="&gt;SEARCH...">
		</label>
		<input class="widget-search__submit" type="submit" value="Search">
		<input type="hidden" name="sitesearch" value="https://trackerninja.codeberg.page/" />
	</form>
	</div>


	</ul>


</nav>

	</div>

	<script>
		function initComparisons() {
			var x, i;
			 
			x = document.getElementsByClassName("img-comp-overlay");
			for (i = 0; i < x.length; i++) {
				

				compareImages(x[i]);
			}
			function compareImages(img) {
				var slider,
					img,
					clicked = 0,
					w,
					h;
				 
				w = img.offsetWidth;
				h = img.offsetHeight;
				 
				img.style.width = w / 2 + "px";
				 
				slider = document.createElement("DIV");
				slider.setAttribute("class", "img-comp-slider");
				 
				img.parentElement.insertBefore(slider, img);
				 
				slider.style.top = h / 2 - slider.offsetHeight / 2 + "px";
				slider.style.left = w / 2 - slider.offsetWidth / 2 + "px";
				 
				slider.addEventListener("mousedown", slideReady);
				 
				window.addEventListener("mouseup", slideFinish);
				 
				slider.addEventListener("touchstart", slideReady);
				 
				window.addEventListener("touchend", slideFinish);
				function slideReady(e) {
					 
					e.preventDefault();
					 
					clicked = 1;
					 
					window.addEventListener("mousemove", slideMove);
					window.addEventListener("touchmove", slideMove);
				}
				function slideFinish() {
					 
					clicked = 0;
				}
				function slideMove(e) {
					var pos;
					 
					if (clicked == 0) return false;
					 
					pos = getCursorPos(e);
					 
					if (pos < 0) pos = 0;
					if (pos > w) pos = w;
					 
					slide(pos);
				}
				function getCursorPos(e) {
					var a,
						x = 0;
					e = e.changedTouches ? e.changedTouches[0] : e;
					 
					a = img.getBoundingClientRect();
					 
					x = e.pageX - a.left;
					 
					x = x - window.pageXOffset;
					return x;
				}
				function slide(x) {
					 
					img.style.width = x + "px";
					 
					slider.style.left = img.offsetWidth - slider.offsetWidth / 2 + "px";
				}
			}
		}
	</script>

</header>



		<div class="wrapper flex">

			<div class="primary">
				
<main class="main" role="main">
<div id="progressbar"></div>
<div id="scrollpath"></div>
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">HOW TO OPEN LINKS IN A NEW TAB IN MAINROAD HUGO THEME</h1>
			<div class="post__meta meta">
<div class="meta__item-datetime meta__item">
	<svg class="meta__icon icon icon-tag" width="16" height="16" viewBox="0 0 32 32"><path d="M32 19c0 1-1 2-1 2L21 31s-1 1-2 1-2-1-2-1L2 16c-1-1-1.4-2-1.4-2S0 12.5 0 11V3C0 1.5.8.8.8.8S1.5 0 3 0h8c1.5 0 3 .6 3 .6S15 1 16 2l15 15s1 1 1 2zM7 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg><time class="meta__text" datetime="2021-09-12T00:00:00Z">2021-09-12</time></div><div class="meta__item-categories meta__item"><svg class="meta__icon icon icon-category" width="16" height="16" viewBox="0 0 16 16"><path d="m7 2l1 2h8v11h-16v-13z"/></svg><span class="meta__text"><a class="meta__link" href="/categories/software/" rel="category"> Software</a> | <a class="meta__link" href="/categories/faq/" rel="category"> FAQ</a> | <a class="meta__link" href="/categories/webdev/" rel="category"> Webdev</a>
	</span>
</div></div>
		</header>
                
<div class="post__tags tags clearfix">
	<svg class="tags__badge icon icon-tag" width="16" height="16" viewBox="0 0 32 32"><path d="M32 19c0 1-1 2-1 2L21 31s-1 1-2 1-2-1-2-1L2 16c-1-1-1.4-2-1.4-2S0 12.5 0 11V3C0 1.5.8.8.8.8S1.5 0 3 0h8c1.5 0 3 .6 3 .6S15 1 16 2l15 15s1 1 1 2zM7 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
	<ul class="tags__list">
		<li class="tags__item">
			<a class="tags__link btn" href="/tags/html/" rel="tag">HTML</a>
		</li>
		<li class="tags__item">
			<a class="tags__link btn" href="/tags/markdown/" rel="tag">Markdown</a>
		</li>
	</ul>
</div>
		<figure class="post__thumbnail">
			<img src="/img/external-links.png" alt="HOW TO OPEN LINKS IN A NEW TAB IN MAINROAD HUGO THEME">
		</figure><div class="content post__content clearfix loading lazy">
			<br>
<p>I bet that many of you would like to open site links not in the same window, but in a background tab.
<br>
Such behavior is restricted by default settings of most Hugo themes. Mainroad is restricting it also.
<br>
Here is a solution on how to overcome weird limitation.</p>
<p>Create file <strong>render-link.html</strong> in <strong>_default</strong> folder of the theme.
<br></p>
<pre tabindex="0"><code>Name_of_your_site\themes\mainroad\layouts\_default\_markup\render-link.html 
</code></pre><p>Contents of <strong>render-link.html</strong> should be like this:</p>
<pre tabindex="0"><code>&lt;a href=&#34;{{ .Destination | safeURL }}&#34;{{ with .Title}} title=&#34;{{ . }}&#34;{{ end }}{{ if strings.HasPrefix .Destination &#34;http&#34; }} target=&#34;_blank&#34; rel=&#34;noopener&#34;{{ end }}&gt;{{ .Text | safeHTML }}&lt;/a&gt;
</code></pre><br>
<hr>
<div class="demo_line_two_stock_links">
<p style="text-align:right; margin-bottom: 0; font-size: 14px; margin-bottom: 15px">
<br>
<a href="https://stock.adobe.com/contributor/204789995/spacedrone808" target="_blank">spacedrone808 @Adobe </a>
<br>
<a href="https://www.freepik.com/author/spacedrone808" target="_blank">spacedrone808 @Freepik </a></p>
<br>
<br>
</div>
		
		</div>
		<footer class="post__footer">
                
		</footer>


	</article>

</main>

<nav class="pager flex">
	<div class="pager__item pager__item--prev">
		<a class="pager__link" href="/post/some-notes-on-sony-xz1-compact/" rel="next">
			<span class="pager__subtitle">◄◄&thinsp;Previous</span>
			<p class="pager__title">SOME NOTES ON SONY XPERIA XZ1 COMPACT</p>
		</a>
	</div>
	<div class="pager__item pager__item--next">
		<a class="pager__link" href="/post/selecting-your-windows-android-browser/" rel="prev">
			<span class="pager__subtitle">Next&thinsp;►►</span>
			<p class="pager__title">SELECTING YOUR WINDOWS &amp; ANDROID BROWSER</p>
		</a>
	</div>
</nav>


<div class="widget-categories widget">
	<h4 class="widget__title"> ░▒▓█ ╚ Categories <a href="#bottom" title="░▒█ GO TO PAGE BOTTOM"> ▼▼▼ </a> </h4>
	<div class="widget__content">
		<ul class="widget__list">
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/android-8/">Android 8</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">30</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/art/">Art</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">280</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/benchmarks/">Benchmarks</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">31</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/cartoons/">Cartoons</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">23</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/faq/">FAQ</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">103</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/games/">Games</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">46</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/hacks/">Hacks</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">31</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/hardware/">Hardware</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">116</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/humour/">Humour</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">40</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/info/">Info</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">19</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/internet/">Internet</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">46</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/lists/">Lists</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">72</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/modern/">Modern</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">14</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/movies/">Movies</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">85</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/music/">Music</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">128</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/personal/">Personal</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">68</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/photography/">Photography</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">43</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/privacy/">Privacy</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">17</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/rant/">Rant</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">96</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/renoise/">Renoise</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">7</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/reviews/">Reviews</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">185</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/security/">Security</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">13</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/software/">Software</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">250</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/support-me/">Support Me</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">4</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/technology/">Technology</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">258</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/tweaks/">Tweaks</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">36</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/unix/">Unix</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">9</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/updates/">Updates</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">21</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/videos/">Videos</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">64</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/vintage/">Vintage</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">293</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/webdev/">Webdev</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">26</span>
				</li>
			<li class="widget__item">
				■ <a class="widget__link--categories" href="/categories/windows-7/">Windows 7</a>&nbsp;
				<span class="widget__counter widget__counter--bubble">135</span>
				</li>
		</ul>
	</div>
</div>

<div class="widget-taglist widget loading lazy">
	<h4 class="widget__title">░▒▓█ ╚ Tags <a href="#top" title="░▒█ GO TO PAGE TOP"> ▲▲▲ </a> </h4>
	<div class="widget__content">
		<a class="widget-taglist__link widget__link btn" href="/tags/00s/" title="">00s</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/16bit/" title="">16bit</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/1984/" title="">1984</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/1993/" title="">1993</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/1994/" title="">1994</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/2000/" title="">2000</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/2021/" title="">2021</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/2022/" title="">2022</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/2023/" title="">2023</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/2024/" title="">2024</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/303/" title="">303</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/3d/" title="">3D</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/3dfx/" title="">3DFX</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/3dmark/" title="">3DMark</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/5ghz/" title="">5Ghz</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/7520/" title="">7520</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/808/" title="">808</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/8088/" title="">8088</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/80s/" title="">80s</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/90s/" title="">90s</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/abstract/" title="">Abstract</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/academy/" title="">Academy</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/acid/" title="">Acid</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/acorn/" title="">Acorn</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/action/" title="">Action</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/adaway/" title="">Adaway</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/addons/" title="">Addons</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/affinity/" title="">Affinity</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ai/" title="">AI</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/aida64/" title="">Aida64</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/aki/" title="">Aki</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/akira/" title="">Akira</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/aladdin/" title="">Aladdin</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/alternative/" title="">Alternative</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/amanita/" title="">Amanita</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ambient/" title="">Ambient</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/amd/" title="">Amd</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/amiga/" title="">Amiga</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/android/" title="">Android</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/anydesk/" title="">Anydesk</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/apetor/" title="">Apetor</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/apple/" title="">Apple</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/arcade/" title="">Arcade</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/architecture/" title="">Architecture</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/asus/" title="">Asus</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/atari/" title="">Atari</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/athlon/" title="">Athlon</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ati/" title="">Ati</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/audience/" title="">Audience</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/audio/" title="">Audio</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/australia/" title="">Australia</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/back/" title="">Back</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/baraka/" title="">Baraka</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/bash/" title="">Bash</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/bbs/" title="">Bbs</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/beavis/" title="">Beavis</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/beer/" title="">Beer</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/bios/" title="">Bios</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/black/" title="">Black</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/blender/" title="">Blender</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/blizzard/" title="">Blizzard</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/blog/" title="">Blog</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/boombox/" title="">Boombox</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/breakbeat/" title="">Breakbeat</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/broforce/" title="">BroForce</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/browser/" title="">Browser</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/butt-head/" title="">Butt-head</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/cameraphone/" title="">Cameraphone</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/campbell/" title="">Campbell</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/cc/" title="">C&amp;C</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/cgi/" title="">Cgi</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/chatgpt/" title="">chatGPT</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/chemical/" title="">Chemical</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/chernobyl/" title="">Chernobyl</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/cherrymx/" title="">CherryMX</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/chillout/" title="">Chillout</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/china/" title="">China</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/chrome/" title="">chrome</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/chyrosran22/" title="">Chyrosran22</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/cinebench/" title="">Cinebench</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/civilization/" title="">Civilization</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/claws/" title="">Claws</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/codeberg/" title="">Codeberg</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/codex/" title="">Codex</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/comedy/" title="">Comedy</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/compaq/" title="">Compaq</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/compression/" title="">Compression</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/console/" title="">Console</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/corel/" title="">Corel</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/cpu/" title="">CPU</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/creativemarket/" title="">CreativeMarket</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/cyberpunk/" title="">Cyberpunk</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/daftpunk/" title="">Daftpunk</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dale/" title="">Dale</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dap/" title="">Dap</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/darkman007/" title="">Darkman007</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dasboot/" title="">DasBoot</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/database/" title="">Database</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/daw/" title="">DAW</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/debian/" title="">Debian</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dell/" title="">Dell</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/demoscene/" title="">Demoscene</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/desktop/" title="">Desktop</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/diablo/" title="">Diablo</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/display/" title="">Display</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/disroot/" title="">Disroot</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dj/" title="">DJ</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/doom/" title="">Doom</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dos/" title="">DOS</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dosbox/" title="">DosBox</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/drawing/" title="">Drawing</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/drawings/" title="">Drawings</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/drivers/" title="">Drivers</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/drums/" title="">Drums</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dsd/" title="">DSD</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dub/" title="">Dub</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dunu/" title="">Dunu</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/dxzeff/" title="">Dxzeff</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/e72/" title="">E72</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/earphones/" title="">Earphones</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/emulation/" title="">Emulation</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/emule/" title="">Emule</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/eol/" title="">EOL</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ergo/" title="">Ergo</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/escape/" title="">Escape</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/escobar/" title="">Escobar</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/esi/" title="">Esi</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/esu/" title="">ESU</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/eurodance/" title="">Eurodance</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/europe/" title="">Europe</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/exif/" title="">Exif</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/exodus/" title="">Exodus</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/f-droid/" title="">F-droid</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/fallout/" title="">Fallout</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/far/" title="">Far</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/figma/" title="">Figma</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/fiio/" title="">Fiio</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/finalnd/" title="">Finalnd</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/fineart/" title="">Fineart</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/finland/" title="">Finland</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/firefox/" title="">Firefox</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/fireproof/" title="">Fireproof</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/firmware/" title="">Firmware</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/fm84/" title="">FM84</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/fonts/" title="">Fonts</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/forum/" title="">Forum</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/freetube/" title="">Freetube</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/freshmoods/" title="">FreshMoods</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/friday/" title="">Friday</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/funk/" title="">Funk</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/future/" title="">Future</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/geminirue/" title="">GeminiRue</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/gems/" title="">Gems</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/german/" title="">German</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/germany/" title="">Germany</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ghetto-blaster/" title="">Ghetto Blaster</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/git/" title="">Git</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/github/" title="">Github</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/glide/" title="">Glide</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/google/" title="">google</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/gps/" title="">GPS</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/gpu/" title="">GPU</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/graffiti/" title="">Graffiti</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/graphics/" title="">Graphics</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/gravis/" title="">Gravis</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/greece/" title="">Greece</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/gsm/" title="">GSM</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/gta/" title="">GTA</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/gui/" title="">GUI</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/gus/" title="">Gus</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/hacker/" title="">Hacker</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/hackers/" title="">Hackers</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/haddaway/" title="">Haddaway</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/halestorm/" title="">Halestorm</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/hardcore/" title="">Hardcore</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/hightreason610/" title="">Hightreason610</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/horror/" title="">Horror</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/house/" title="">House</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/html/" title="">HTML</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/huawei/" title="">Huawei</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/hugo/" title="">Hugo</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/human/" title="">Human</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/humour/" title="">Humour</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/hybrid/" title="">Hybrid</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/hypnotoad/" title="">Hypnotoad</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ibasso/" title="">iBasso</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ibm/" title="">Ibm</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/icecat/" title="">IceCat</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/iceland/" title="">Iceland</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/iceweasel/" title="">IceWeasel</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/idiocracy/" title="">Idiocracy</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/illustrations/" title="">Illustrations</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/industrial/" title="">Industrial</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/intel/" title="">Intel</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/internet/" title="">Internet</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/intro/" title="">Intro</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/iphone/" title="">iphone</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/iphuck/" title="">Iphuck</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/itcrowd/" title="">Itcrowd</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/jamila/" title="">Jamila</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/japan/" title="">Japan</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/jazz/" title="">Jazz</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/jng/" title="">JNG</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/judge/" title="">Judge</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/junk/" title="">Junk</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/keenetic/" title="">Keenetic</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/keepass/" title="">Keepass</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/keyboard/" title="">Keyboard</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/kollektivet/" title="">Kollektivet</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/kungfury/" title="">KungFury</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/landscape/" title="">Landscape</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/laptop/" title="">Laptop</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/lenovo/" title="">Lenovo</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/life/" title="">Life</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/lineageos/" title="">LineAgeOS</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/links/" title="">Links</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/linux/" title="">Linux</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/lookmumnocomputer/" title="">LookMumNoComputer</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/lost/" title="">Lost</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/lynch/" title="">Lynch</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/macos/" title="">MacOS</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/madonion/" title="">MadOnion</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mail/" title="">Mail</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/manjaro/" title="">Manjaro</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mark/" title="">Mark</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/markdown/" title="">Markdown</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/marketing/" title="">Marketing</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/marketshare/" title="">Marketshare</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mechanical/" title="">Mechanical</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/memories/" title="">Memories</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/metal/" title="">Metal</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/metro/" title="">Metro</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mi11ultra/" title="">Mi11Ultra</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/microprose/" title="">Microprose</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/microsoft/" title="">Microsoft</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/microstock/" title="">Microstock</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/midi/" title="">Midi</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/migration/" title="">Migration</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mike/" title="">Mike</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/minimal/" title="">Minimal</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mix/" title="">Mix</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mnemonic/" title="">Mnemonic</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mods/" title="">Mods</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/monday/" title="">Monday</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/morgan/" title="">Morgan</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/morty/" title="">Morty</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/moss/" title="">Moss</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mtp/" title="">MTP</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mtv/" title="">MTV</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/mufasa/" title="">Mufasa</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/nature/" title="">Nature</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/neogeo/" title="">NeoGeo</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/network/" title="">Network</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/neutron/" title="">Neutron</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/newpipe/" title="">NewPipe</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/newyear/" title="">NewYear</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/nft/" title="">Nft</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/nirvana/" title="">Nirvana</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/nl/" title="">NL</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/nodejs/" title="">Nodejs</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/nokia/" title="">Nokia</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/norway/" title="">Norway</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/nothing/" title="">Nothing</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/nvidia/" title="">Nvidia</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/nvme/" title="">Nvme</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/obs/" title="">Obs</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/oppo/" title="">Oppo</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ost/" title="">Ost</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ozric/" title="">Ozric</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/p2p/" title="">P2p</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/p50pro/" title="">P50Pro</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/palemoon/" title="">Palemoon</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/patches/" title="">Patches</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/pen/" title="">Pen</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/people/" title="">People</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/performance/" title="">Performance</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/personal/" title="">Personal</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/phantasmagoria/" title="">Phantasmagoria</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/photography/" title="">Photography</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/photoshop/" title="">Photoshop</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/piano/" title="">Piano</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/pine64/" title="">Pine64</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/pinkfloyd/" title="">Pinkfloyd</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/piratebay/" title="">Piratebay</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/pixelart/" title="">PixelArt</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/png/" title="">Png</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/police/" title="">Police</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/policy/" title="">Policy</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/pop/" title="">Pop</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/pos/" title="">POS</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/poweroff/" title="">PowerOff</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/pripyat/" title="">Pripyat</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/pro-i/" title="">PRO-I</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/progressive/" title="">Progressive</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/psybient/" title="">Psybient</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/python/" title="">Python</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/quests/" title="">Quests</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/radeon/" title="">Radeon</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ram/" title="">Ram</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/rant/" title="">Rant</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/rap/" title="">Rap</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/rebillet/" title="">Rebillet</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/reggae/" title="">Reggae</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/render/" title="">Render</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/resurrected/" title="">Resurrected</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/retouch/" title="">Retouch</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/retro/" title="">Retro</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/retrowave/" title="">Retrowave</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/rhcp/" title="">RHCP</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/rick/" title="">Rick</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ricoh/" title="">Ricoh</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/robocop/" title="">Robocop</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/robocopy/" title="">Robocopy</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/rock/" title="">Rock</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/roosevelt/" title="">Roosevelt</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/roy/" title="">Roy</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/rpg/" title="">RPG</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/runner/" title="">Runner</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/russia/" title="">Russia</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ryzen/" title="">Ryzen</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/samsara/" title="">Samsara</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/samsung/" title="">Samsung</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sax/" title="">Sax</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/scallon/" title="">Scallon</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/scandinavia/" title="">Scandinavia</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sdcard/" title="">sdcard</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/seagal/" title="">Seagal</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/search/" title="">Search</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/searx/" title="">SearX</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/security/" title="">Security</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/services/" title="">Services</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/settings/" title="">Settings</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/shanling/" title="">Shanling</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/shark/" title="">Shark</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sharp/" title="">Sharp</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/shawshank/" title="">Shawshank</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/shdd/" title="">sHdd</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sheldon/" title="">Sheldon</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/shmup/" title="">Shmup</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/shortcuts/" title="">Shortcuts</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/skyforce/" title="">SkyForce</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/slackware/" title="">Slackware</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/social/" title="">Social</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sonim/" title="">Sonim</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sony/" title="">Sony</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sor/" title="">SOR</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/soulseek/" title="">Soulseek</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sp5/" title="">SP5</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/space/" title="">Space</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/spacedrone808/" title="">Spacedrone808</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/spain/" title="">Spain</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/spartacus/" title="">Spartacus</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sql/" title="">SQL</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ssd/" title="">Ssd</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/stalker/" title="">Stalker</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/stickers/" title="">Stickers</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/storage/" title="">Storage</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/street/" title="">Street</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/supermium/" title="">Supermium</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/support/" title="">Support</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/svg/" title="">SVG</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/swap/" title="">Swap</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/sweden/" title="">Sweden</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/synth-punk/" title="">Synth-Punk</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/synthesizer/" title="">Synthesizer</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/synthwave/" title="">Synthwave</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/system/" title="">System</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tacker/" title="">Tacker</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/talkov/" title="">Talkov</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tape/" title="">Tape</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tbl/" title="">Tbl</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tcp/" title="">TCP</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/telemetry/" title="">Telemetry</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tentacles/" title="">Tentacles</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/terminator/" title="">Terminator</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/terragen/" title="">Terragen</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tesla/" title="">Tesla</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/threadripper/" title="">Threadripper</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/throttle/" title="">Throttle</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tiny/" title="">Tiny</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tmnt/" title="">Tmnt</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tool/" title="">Tool</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tools/" title="">Tools</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/topre/" title="">Topre</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tor/" title="">Tor</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tracker/" title="">Tracker</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/trackerninja808/" title="">TrackerNinja808</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/trackers/" title="">Trackers</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/traffic/" title="">Traffic</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/trance/" title="">Trance</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/transformation/" title="">Transformation</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/transport/" title="">Transport</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/triphop/" title="">TripHop</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/troubleshoot/" title="">Troubleshoot</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tucker/" title="">Tucker</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tv/" title="">TV</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/txt/" title="">Txt</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tycoon/" title="">Tycoon</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/tyrian/" title="">Tyrian</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/uboat/" title="">Uboat</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ufo/" title="">Ufo</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/uk/" title="">UK</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ukraine/" title="">Ukraine</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ultrasound/" title="">Ultrasound</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/unigine/" title="">Unigine</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/unix/" title="">Unix</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/unreal/" title="">Unreal</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/updates/" title="">Updates</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/us/" title="">US</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/usa/" title="">USA</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/usb/" title="">USB</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/ussr/" title="">USSR</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/vegas/" title="">Vegas</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/vim/" title="">Vim</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/virtualbox/" title="">VirtualBox</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/vortex/" title="">Vortex</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/vpn/" title="">VPN</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/vscode/" title="">Vscode</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/website/" title="">Website</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/white/" title="">White</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/wifi/" title="">WiFi</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/wild/" title="">Wild</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windows10/" title="">Windows10</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windows11/" title="">Windows11</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windows12/" title="">Windows12</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windows2000/" title="">Windows2000</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windows31/" title="">Windows31</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windows7/" title="">Windows7</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windows95/" title="">Windows95</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windows98/" title="">Windows98</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windowsvista/" title="">WindowsVista</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/windowsxp/" title="">WindowsXP</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/winraid/" title="">Winraid</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/wwf/" title="">WWF</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/x11/" title="">X11</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/x64/" title="">x64</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/xcom/" title="">Xcom</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/xeon/" title="">Xeon</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/xiaomi/" title="">Xiaomi</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/xperia/" title="">Xperia</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/xz1/" title="">Xz1</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/youtube/" title="">Youtube</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/zombies/" title="">Zombies</a>
		<a class="widget-taglist__link widget__link btn" href="/tags/zuma/" title="">Zuma</a>
	</div>
</div>

<div class="authorbox clearfix">
	<figure class="authorbox__avatar">
		<img alt="Unlisted Holdout avatar" src="/img/professor_pixel.png" class="avatar" height="90" width="90">
	</figure>
	<div class="authorbox__header">
		<span class="authorbox__name">About Unlisted Holdout</span>
	</div>
	<div class="authorbox__description">
		Vintage computer retrograde interested in many aspects of life
	</div>
</div>




<br>

<div align="center">
<img src="/img/banner-rainbow/rainbow.gif">

</div>
<br>
<p style="text-align:right;"><a href="#top"><b>▲ BACK TO TOP</b></a><br>
<a href="https://trackerninja.codeberg.page"><b>¶ BACK TO HOME </b></a></p>


<button onclick="topFunction()" id="myBtn" title="SCROLL ME UP!">▲▲▲</button>

<script type="module" src="/js/lazy-load.js"></script>

<script>

window.topFunction = topFunction;

let lastScrollTop = 0;
let scrollTopBtn = document.getElementById("myBtn");

window.onscroll = function () {
  scrollFunction();
};
function scrollFunction() {
  let currentScroll = window.scrollY || document.documentElement.myBtn;
  if (currentScroll > 512) {
    if (!scrollTopBtn.classList.contains("show")) {
      scrollTopBtn.classList.remove("hide");
      scrollTopBtn.classList.add("show");
    }
  } else if (currentScroll < lastScrollTop) {
    if (scrollTopBtn.classList.contains("show")) {
      scrollTopBtn.classList.remove("show");
      scrollTopBtn.classList.add("hide");
    }
  }
  lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}


let progress = document.getElementById('progressbar');
let totalHeight = document.body.scrollHeight - window.innerHeight;

window.addEventListener('scroll', function() {

	let progressHeight = (window.pageYOffset / totalHeight) * 100;
	progress.style.height = progressHeight + "%";

});


</script>

<button onclick="openHome()" id="myBtnHome" title="GO TO HOME PAGE">HOME</button>
<button onclick="openSupport()" id="myBtnSupport" title="$UPPORT ME">$UPPORT</button>

<script>


function openHome() {

 window.open("/","_self")

}


function openSupport() {

 window.open("/menu/_support","_self")

}

</script>




			</div>
			
		</div>
		<footer class="footer loading lazy">
	<div class="container footer__container flex">
		
		<div class="footer__copyright">
			&copy; 2025 ░▒█ UnlistedHoldout.
			<span class="footer__copyright-credits rainbow">Version 4.8++ CREATE RESOURCES, NOT ACCOUNTS!</span>
		</div>
	</div>
</footer>
	</div>




	<script async defer src="/js/menu.js"></script>
	</body>


<script>



function createStars(layerId, starCount) {
  const layerEl = document.getElementById(layerId);
  const fragment = document.createDocumentFragment();

  for (let i = 0; i < starCount; i++) {
    const starCount = 50;
    
    const star = document.createElement('div');
    star.classList.add('star');

    
    const randomLeft = Math.random() * 100;
    const randomTop = Math.random() * 100;

    star.style.left = `${randomLeft}%`;
    star.style.top = `${randomTop}%`;

    
    

    fragment.appendChild(star);
  }

  layerEl.appendChild(fragment);
}


createStars('layer1', 25);
createStars('layer2', 35);
createStars('layer3', 50);


</script>


</html>